<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="reporting" type="System.Configuration.AppSettingsSection" />
  </configSections>

  <appSettings>
    <add key="Env" value="dev" />
  </appSettings>
      
  <reporting>
    <add key="Enabled" value="true" />
    <add key="DarkTheme" value="true" />
    <add key="ShowSteps" value="true" />
  </reporting>
</configuration>